@media screen and (min-width:992px) {
    .slideshowr{
        .row{
            display: flex;
            flex-direction: row-reverse;
            
            .txt-part{
                h1{
                    font-size: 35px;
                }
                p{
                    font-size: 15px;
                    line-height: 2em;
                }
                .input{
                    width: 500px;
                    display: block;
                    margin-left: 20px;
                    font-weight: bold;
                    .free{
                        width: 500px;
                        display: block;
                        margin-left: -10px;
                        text-align: center;
                    }
                }
            }
        }
    }
    .row{
        display: flex;
        flex-direction: row-reverse;
        .pic-part{
            width: 100%;
            margin-left: -100px;
        }
        .txt-part{
            padding-right:100px ;
            h2{
                font-size: 30px;
            }
            p{
                width: 550px;
            }
            .list{
                width: 500px;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    li{
                        width: 250px;
                    }
                }
                
            }
        }
    }
    .row:nth-child(odd){
        display: flex;
        flex-direction: row;
    }
}