header{
    padding: 10px 20px;
    background-color: #aaa;
    display: flex;
    justify-content: space-between;
    position: relative;
    #menu-control{
        display: none;
        position: absolute;
        z-index: 10;
    }
    head{
        .logo{
            .src{
                width:50px;
                height: 50px;
                vertical-align: top;
                border: 10px soild red;
            }
        }
        
        .main-menu{
            a{
                display: block;
                padding: 10px 20px;
            }
            position: absolute;
            width: 100%;
            background-color: burlywood;
            left: 0;
            top: 100%;
            display: none;
            #menu-control:checked ~ .head .main-menu{
                display: block;
            }
        }
        .hb{
            position: absolute;
            width: 50px;
            height: 50px;
            background-color: red;
            top: 10px;
            right: 40px;
        }
    }
}
.slideshowr{
    background-color: #00142D;
    width: 100%;
    // height: 750px;
    margin: auto;
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    .right{
        img{
            width: 100%;
        }
    }
    .left
    {
        width: 700px;
        height: 440px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        h1
        {
            color: white;
            font-size: 30px;
            font-weight: bold;
        }
        .color
        {
            color: #00C66A;
            font-size: 30px;
            margin-top: 20px;
            font-weight: bold;
        }
        p
        {
            color: white;
            font-size: 15px;
            margin: 40px 0px;
        }
        input
        {
            width: 100%;
            background: none;
            border-width: 0 0 1px;
            display: flex;
            flex-direction: row;
            align-items: center;
            .free
            {
                background-color: blue;
                padding: 0px 10px;
                height: 35px;
                display: flex;
                align-items: center;
                border-radius: 20px;
                color: #fff;
                text-decoration: none;
                margin-left: 30px;
            }
        }
    }
}
@media screen and (min-width: 768px){

}